* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ccc;
}header {
    display: flex;
    align-items: center;
    padding: 3rem;
    background-color: #13366b;
    color: #fff;
    text-align: center;
    justify-content: center;
    flex-direction: row-reverse;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}.fotinha img {
    position: relative;
    width: 200px;
    height: 180px;
    border-radius: 200%;
    margin-left: 10px;
    top: 10px;
    left: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}.header h1 {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}.header h2 {
    font-size: 1.5rem;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}.sobreMim {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}.sobreMim h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}.sobreMim p {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}.pessoal h4, 
.profissional h4{
    font-size: 24px;
}.pessoal p, .profissional p {
    font-size: 20px;
    line-height: 1.8; 
}.imagens{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
    justify-content: space-around;
    float: center;
}.imagens img{
    width: 250px;
    height: auto;
    margin-top: 20px;
}.habilidades {
    padding: 2rem;
    background-color: #13366b;
    margin-bottom: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}.habilidades h4 {
    font-size: 40px;
    margin-bottom: 1px;
    text-align: center;
    color: #fff;
}.habilidades h5{
    font-size: 25px;
}.habilidades li{
    font-size: 20px;
    list-style-type: none;
}.front-end, .back-end {
    border: 1px solid #ccc;
    padding: 45px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 30px;
    background-color: #e9e9e9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}hr {
    border: none;
    height: 2px;
    background-color: #333;
    margin: 10px 0;
}.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
}footer p {
    font-size: 18px;
}@media (max-width: 600px) {
     header {
        display: flex;
        flex-direction: column;
        align-items: center;
     }header .fotinha img {
        max-width: 100%;
        height: auto;
    }header .header {
        text-align: center;
    }.sobreMim, .habilidades {
        margin: 20px;
    }.sobreMim h3, .habilidades h4, .habilidades h5 {
        text-align: center;
    }.skills img {
        max-width: 100%;
        height: auto;
    }
}
